body {
    overflow: hidden;
}

.container-fluid {
    width: 100vw;
    height: 100vh;

    #canvas-container {
        width: 100vw;
        height: 100vh;
    }

    .fa-cog {
        position: absolute;
        top: 7%;
        left: 95%;
        color: #363636;
        font-size: 2em;
        transition: 0.5s ease-in-out all;

        &:hover {
            transform: rotate(200deg);
        }

        // transform: translate(-50%, -50%);
        // -ms-transform: translate(-50%, -50%);
    }

    .overlay {
        position: fixed;
        background: #794c09;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        overflow: hidden;
    }

    .open-menu {
        cursor: pointer;
    }

    .close-menu {
        cursor: pointer;
        position: fixed;
        top: 7%;
        right: 3%;
        color: #fefefa;
        opacity: 0.8;
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
        height: 100vh;
        z-index: 999;
    }

    .overlay nav {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1em;
      }
      .overlay ul {
        list-style: none;
        display: inline-block;
        position: relative;
      }
      .overlay ul li {
        display: block;
        position: relative;
        opacity: 0;
      }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #fefefa !important;
        font-weight: 600;
        text-decoration: none;
        overflow: hidden;
      }
      
      .overlay ul li a:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 43.5%;
        width: 0%;
        transform: translateX(-50%);
        height: 4px;
        transition: 0.35s;
      }
      
      .overlay ul li a:hover,
      .overlay ul li a:focus,
      .overlay ul li a:active {
        color: #c9c9c9;
      }
      .overlay ul li a:hover:after,
      .overlay ul li a:focus:after,
      .overlay ul li a:active:after {
        width: 100%;
        background: #b86371;
      }
      
      .overlay.open li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
      }
      .overlay.open li:nth-of-type(2) {
        animation-delay: 0.4s;
      }
      .overlay.open li:nth-of-type(3) {
        animation-delay: 0.45s;
      }
      .overlay.open li:nth-of-type(4) {
        animation-delay: 0.5s;
      }
}

@keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }